

body{
    padding-top: 100px;
}

.card{
    height: 22rem;
    width: 22rem;
    opacity: 0.75;
    text-align: center;
    /* position: relative; */
    /* margin:auto; */
    /* background-color: #00539C; */
    box-shadow: 0 3px 15px rgba(3, 19, 13, 0.6);
    
}
.card:hover{
    width: 25rem;
   /* height: 23rem; */
   opacity: 1;
      /* transform: rotatey(8deg); */
    transition: width height opacity 1s ease-in-out
}

.card-img{
    width: 300px;
    height: 200px;
  background-size:cover;
  position: relative;
  border-radius: 0;
  /* opacity: 1; */
};
.card-title{
    color: rgb(8, 14, 13);
    opacity: 1;
 }
.card-title:hover{
    /* text-decoration: none;
color: rgb(247, 48, 8);
font-size: 2em;
opacity: 1; */
}


.card-text{
    color: rgb(7, 65, 50);
    /* opacity: 1; */
}
.card-text:hover{
    /* color:black; */
    /* opacity: 1; */
}
.card-link:hover{
    color: red;
    font-size: large;
    /* background-color: blue; */
}