:root {
  --light : white;
  --dark : rgb(46, 44, 44);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.nav-tab {
  text-decoration: none;
  color: inherit;
}

.nav-tab {
  display: inline-block;
  padding-bottom: 0.25rem; /* defines the space between text and underline */
  position: relative;
}

.nav-tab::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgba(0, 255, 0);
  background-image: linear-gradient(to right, grey , yellow );
  transition: width 0.35s ease-out;
  
}
.nav-tab:hover::before {
  width: 100%;
  
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: white;
  font-family: var(--font-family);
  /* margin : 30px 30px 30px 30px; */
}
.nav-list a{
  color: white;
}
.nav-list a:hover {
  color: yellow;
  /* font-size: larger; */
  text-transform: uppercase;
  /* text-decoration: underline; */
}

.nav-name{
  background-color: rgb(247, 192, 9);
  /* border-radius: 0% 90% 90% 0%; */
  color: black;
  margin: 0 0 0 0;
  width: fit-content;
  width: 200px;
  height: 100px; /* as the half of the width */
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  /* border: 10px solid gray; */
  /* border-bottom: 0; */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image{
  width: 200px;
  height: 200px;
  animation-duration: 2s;
  border-radius: 50%;
}

#about{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100vh;
}

.about-image{
width: 25vh;
padding-left: 140px;
padding-right: 20px;
}
.about-body{
  width: 75vh;
  padding-left:20px
}

.card{
  height: 400px;
  width: 330px;
  opacity: 0.6;
  text-align: center;
  box-shadow: 0 3px 10px rgba(233, 238, 238, 0.6);
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 0;
  /* border-radius: 80px 80px 0px 0px; */
}

.card-title-body{
  background-color: rgb(247, 223, 6);
  color: rgb(21, 19, 19);
  opacity: 1;
  height: 60px;
}

.card:hover{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 32px rgba(233, 238, 238, 0.6);
}

.card-img{
width: 330px;
height: 200px;
}
.container-form{
  width: 350px;
  height: 420px;
  border: 1px solid transparent;
  background-color: white;
  color: black;
}

.submitButton:hover{
  background-color: rgb(36, 190, 246);
  color: black;
}

.nav-link.footer-link:hover svg {
  fill: rgb(25, 151, 210);
}

.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: #333;
  color: #edde08;
  border: 2px solid #f5d904;
}