:root {
  --light : white;
  --dark : rgb(46, 44, 44);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: var(--light);
  font-family: var(--font-family);
  margin : 30px 30px 30px 30px;
}
/* .navtabs-container{
display: flex;
}
.nav-name{
  font-size: larger;
  padding: 15px;
  font-weight: bolder;
  justify-content: start;

}
.nav-list{
  
} */



.image{
  width: 200px;
  height: 200px;
  animation-duration: 2s;
  border-radius: 50%;
}