:root {
  --light : white;
  --dark : rgb(46, 44, 44);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.nav-tab {
  text-decoration: none;
  color: inherit;
}

.nav-tab {
  display: inline-block;
  padding-bottom: 0.25rem; /* defines the space between text and underline */
  position: relative;
}

.nav-tab::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgba(0, 255, 0);
  background-image: linear-gradient(to right, grey , yellow );
  transition: width 0.35s ease-out;
  
}
.nav-tab:hover::before {
  width: 100%;
  
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: white;
  font-family: var(--font-family);
  /* margin : 30px 30px 30px 30px; */
}
.nav-list a{
  color: white;
}
.nav-list a:hover {
  color: yellow;
  /* font-size: larger; */
  text-transform: uppercase;
  /* text-decoration: underline; */
}

.nav-name{
  background-color: rgb(247, 223, 9);
  /* border-radius: 0% 90% 90% 0%; */
  color: black;
  margin: 0 0 0 0;
  width: fit-content;
  width: 200px;
  height: 100px; /* as the half of the width */
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  /* border: 10px solid gray; */
  /* border-bottom: 0; */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image{
  width: 200px;
  height: 200px;
  animation-duration: 2s;
  border-radius: 50%;
}